<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/encounters}">Encounters</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li class="active"><a th:href="@{/account}">My Account</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>My Account</h1>

        <h2 th:text="${#httpServletRequest.remoteUser} + ' ('+ ${userlevel} + ')'"></h2>
    </div>
</div>

<div class="container">
    <p th:if="${confirmationFailure}" class="alert alert-danger" th:text="${confirmationFailure}"></p>
</div>

<div class="container">
    <div class="page-header">
        <h2>My Actions</h2>
    </div>

    <div th:if="${dataUpdated}" class="alert alert-success" role="alert" th:text="${dataUpdated}"></div>
    <div th:if="${dataNotUpdated}" class="alert alert-danger" role="alert" th:text="${dataNotUpdated}"></div>

    <a th:href="@{/encounter/create}" class="btn btn-default btn" aria-label="Add new Encounter">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <a th:href="@{/account/edit}" class="btn btn-default btn" aria-label="Edit Userdata">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
    <a th:href="@{/account/password/edit}" class="btn btn-default btn" aria-label="Change Password">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
</div>

<div class="container">
    <div class="page-header">
        <h2>My Encounters</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="encounter : ${encounters}">
                    <td th:text="${encounter.event}"></td>
                    <td th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></td>
                    <td th:text="${#calendars.format(encounter.date,'yyyy-MM-dd')}"></td>
                    <td>
                        <a th:href="@{/encounters/{id}(id=${encounter.id},action='edit')}"
                           class="btn btn-default btn-sm" aria-label="Edit Encounter">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>

                        <form action="#" th:action="@{/encounter/delete}" method="post">
                            <input type="hidden" th:value="${encounter.id}" th:name="encounterId"/>
                            <button type="submit" class="btn btn-default btn-sm" aria-label="Delete Encounter">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h2>My Confirmations</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="confirmation : ${confirmations}">
                    <td th:text="${confirmation.encounter.event}"></td>
                    <td th:text="${confirmation.encounter.location} + ' ('+ ${confirmation.encounter.country} + ')'"></td>
                    <td th:text="${#calendars.format(confirmation.date,'yyyy-MM-dd')}"></td>
                    <td>
                        <form th:action="@{/confirmations/revoke}" method="post">
                            <input type="hidden" th:value="${confirmation.id}" th:name="confirmationId"/>
                            <button type="submit" class="btn btn-default btn-sm" aria-label="Revoke Confirmation">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
