<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/encounters}">Encounters</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li class="active"><a th:href="@{/account}">My Account</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Edit my Account</h1>

        <h2 th:text="${#httpServletRequest.remoteUser} + ' ('+ ${userlevel} + ')'"></h2>
    </div>
</div>

<div class="container">
    <h2>Password</h2>

    <div th:if="${passwordUpdateFailure}" class="alert alert-warning" role="alert"
         th:text="${passwordUpdateFailure}"></div>

    <form action="#" th:action="@{/account/password/update}" th:object="${passwordChange}" method="post" role="form">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error
            </p>
        </div>
        <div th:class="${#fields.hasErrors('currentPassword')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="currentPassword">Current password</label>
            <input type="password" autofocus="autofocus" id="currentPassword" name="currentPassword"
                   th:field="*{currentPassword}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('newPassword')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="newPassword">New password</label>
            <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('newPasswordConfirmation')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="newPasswordConfirmation">Confirm new password</label>
            <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation"
                   th:field="*{newPasswordConfirmation}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Change Password</button>
        </div>
    </form>
</div>

</body>
</html>
