<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/encounters}">Encounters</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/account}">My Account</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Create Encounter</h1>

        <p>Know an encounter that is missing in our database? Create it right away!</p>
    </div>
</div>

<div class="container">
    <form action="#" th:action="@{/encounter/create}" th:object="${encounter}" method="post" role="form">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error
            </p>
        </div>
        <div th:class="${#fields.hasErrors('event')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="event">Event</label>
            <input type="text" autofocus="autofocus" id="event" name="event" th:field="*{event}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('location')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" th:field="*{location}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('country')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" th:field="*{country}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('date')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="date">Date</label>
            <input type="text" id="date" name="date" th:field="*{date}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('comment')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment" th:field="*{comment}" class="form-control"></textarea>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Create Encounter</button>
        </div>
    </form>
</div>
</body>
</html>
