<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/encounters}">Encounters</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li class="active"><a th:href="@{/account}">My Account</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Edit my Account</h1>

        <h2 th:text="${#httpServletRequest.remoteUser} + ' ('+ ${userlevel} + ')'"></h2>
    </div>
</div>

<div class="container">
    <h2>User Data</h2>

    <div th:if="${userDataUpdateFailure}" class="alert alert-warning" role="alert"
         th:text="${userDataUpdateFailure}"></div>

    <form action="#" th:action="@{/account/userdata/update}" th:object="${user}" method="post" role="form">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error
            </p>
        </div>
        <div th:class="${#fields.hasErrors('lastname')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="firstname">Firstname</label>
            <input type="text" id="firstname" name="firstname" th:field="*{firstname}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('lastname')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" name="lastname" th:field="*{lastname}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Update Data</button>
        </div>
    </form>
</div>

<div class="container">
    <h2>Account Data</h2>

    <div th:if="${accountDataUpdateFailure}" class="alert alert-warning" role="alert"
         th:text="${accountDataUpdateFailure}"></div>

    <form action="#" th:action="@{/account/accountdata/update}" th:object="${user}" method="post" role="form">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error
            </p>
        </div>
        <div th:class="${#fields.hasErrors('lastname')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" th:field="*{email}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('password')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="password">Current password</label>
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Update Account</button>
        </div>
    </form>
</div>

</body>
</html>
