<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/encounters}">Encounters</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/account}">My Account</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Encounter Details</h1>

        <h2 th:text="${encounter.event}"></h2>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Date</th>
            <th>Likelihood</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${encounter.location}"></td>
            <td th:text="${encounter.country}"></td>
            <td th:text="${#calendars.format(encounter.date,'yyyy-MM-dd')}"></td>
            <td th:text="${encounter.likelihood}"></td>
            <td th:text="${encounter.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Confirmations</h2>

    <p th:each="confirmation,iterStat : ${encounter.confirmations}">
        <span th:text="${confirmation.user} + ' (' + ${#calendars.format(confirmation.date,'yyyy-MM-dd')} + ')'"></span><br/>
    </p>
</div>

<div class="container">
    <p><a th:href="@{/encounters}">Back to encounters</a></p>
</div>
</body>
</html>
