<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters - Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="encounters">Encounters</a></li>
                <li><a href="search">Search</a></li>
                <li th:if="${#httpServletRequest.remoteUser == null}"><a href="login">Log in</a></li>
                <li th:if="${#httpServletRequest.remoteUser}"><a href="account">My Account</a></li>
                <li th:if="${#httpServletRequest.remoteUser}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Encounters</h1>

        <p>View the <strong>Duke Encounters</strong> that match your search criteria. You can add a new encounter or
            confirm an existing one.</p>

        <p th:if="${#httpServletRequest.remoteUser == null}">Participating requires that you log into the application.
            Event and user details are only visible after login.</p>
    </div>
</div>

<div class="container">
    <div th:if="${encounterFailure}" class="alert alert-warning" role="alert" th:text="${encounterFailure}"></div>

    <p class="lead" th:if="${#httpServletRequest.remoteUser}">Encounter not listed yet? <a href="/encounter/create">Create</a>
        a new one.
    </p>

    <p class="lead" th:if="${searchFilter != null}">Your search for <strong th:text="${searchFilter}"></strong> returned
        the following results:</p>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Confirmed by</th>
                    <th>Likelihood</th>
                    <th th:if="${#httpServletRequest.remoteUser}">Confirm</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="encounter : ${encounters}">
                    <td th:if="${#httpServletRequest.remoteUser}"><a th:href="@{|/encounters/${encounter.id}|}"
                                                                     th:text="${encounter.event}"></a></td>
                    <td th:if="${#httpServletRequest.remoteUser == null}" th:text="${encounter.event}"></td>
                    <td th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></td>
                    <td th:text="${#calendars.format(encounter.date,'yyyy-MM-dd')}"></td>
                    <td>
                        <span th:each="confirmation,iterStat : ${encounter.confirmations}">
                            <span th:text="${confirmation.user}"></span>
                            <span th:text="${!iterStat.last}? '|'"></span>
                        </span>
                    </td>
                    <td th:text="${encounter.likelihood}"></td>
                    <td th:if="${#httpServletRequest.remoteUser}">
                        <form th:action="@{/confirmations/add}" method="post">
                            <input type="hidden" th:value="${encounter.id}" th:name="encounterId"/>
                            <button type="submit" class="btn btn-default btn-sm" aria-label="Confirm Encounter">
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
