<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="encounters">Encounters</a></li>
                <li><a href="search">Search</a></li>
                <li th:if="${#httpServletRequest.remoteUser == null}"><a href="login">Log in</a></li>
                <li th:if="${#httpServletRequest.remoteUser}"><a href="account">My Account</a></li>
                <li th:if="${#httpServletRequest.remoteUser}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Duke Encounters</h1>

        <p>Welcome to <strong>Duke Encounters</strong>, the leading online platform for Java Duke
            spotting. This sample web application is using <a href="http://appsensor.org" target="_blank">OWASP
                AppSensor</a> for Application Intrusion Detection. The application is developed by Dominik Schadow, all
            source code is available on <a
                    href="https://github.com/dschadow/ApplicationIntrusionDetection" target="_blank">GitHub</a>. This
            application is using an in-memory database to temporarily persist all information. Keep in mind that all
            entered information will be lost when restarting.</p>

        <p th:if="${#httpServletRequest.remoteUser == null}"><a href="register">Register</a> or <a
                href="login">login</a> to contribute.</p>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h2>Latest Encounters</h2>

        <p class="lead"><a href="encounters">View all</a> encounters or <a href="search">search</a> for the ones you are
            interested in.</p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Event</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Likelihood</th>
                        <th th:if="${#httpServletRequest.remoteUser}">Confirm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="encounter : ${encounters}">
                        <td th:text="${encounter.event}"></td>
                        <td th:text="${encounter.location} + ' ('+ ${encounter.country} + ')'"></td>
                        <td th:text="${#calendars.format(encounter.date,'yyyy-MM-dd')}"></td>
                        <td th:text="${encounter.likelihood}"></td>
                        <td th:if="${#httpServletRequest.remoteUser}">
                            <form th:action="@{/confirmations/add}" method="post">
                                <input type="hidden" th:value="${encounter.id}" th:name="encounterId"/>
                                <button type="submit" class="btn btn-default btn-sm" aria-label="Confirm Encounter">
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4"><a href="https://commons.wikimedia.org/wiki/File:Duke-Guitar.png" target="_blank"><img
                th:src="@{img/duke-guitar.png}"
                alt="Duke by Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Duke-Guitar.png"/></a></div>
    </div>
</div>
</body>
</html>
