<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters - Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="encounters">Encounters</a></li>
                <li><a href="search">Search</a></li>
                <li class="active"><a href="login">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Login</h1>

        <p>Use your credentials to log in. Need to <a href="/register">register</a> first?</p>
    </div>
</div>

<div class="container">
    <div th:if="${userCreated}" class="alert alert-success" role="alert" th:text="${userCreated}"></div>

    <div th:if="${loginError}" class="alert alert-danger" role="alert">
        Login failed - wrong username and/or password.
    </div>

    <form th:action="@{/login}" method="post" role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input autocomplete="off" autofocus="autofocus" type="text" id="username" name="username"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default">Log in</button>
    </form>
</div>
</body>
</html>