<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters - Register</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="encounters">Encounters</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="login">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Register</h1>

        <p>Already have a user? Please <a href="/login">login</a> directly.</p>
    </div>
</div>

<div class="container">
    <form action="#" th:action="@{/register}" th:object="${dukeEncountersUser}" method="post" role="form">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error
            </p>
        </div>
        <div th:class="${#fields.hasErrors('firstname')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="firstname">Firstname</label>
            <input type="text" autofocus="autofocus" id="firstname" name="firstname" th:field="*{firstname}"
                   class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('lastname')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" name="lastname" th:field="*{lastname}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('username')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:field="*{username}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('email')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" th:field="*{email}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('password')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('confirmPassword')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}"
                   class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Create User</button>
        </div>
    </form>
</div>
</body>
</html>