<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Duke Encounters - Search</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Duke Encounters</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="encounters">Encounters</a></li>
                <li class="active"><a href="search">Search</a></li>
                <li th:if="${#httpServletRequest.remoteUser == null}"><a href="login">Log in</a></li>
                <li th:if="${#httpServletRequest.remoteUser}"><a href="account">My Account</a></li>
                <li th:if="${#httpServletRequest.remoteUser}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default" style="margin-top: 8px; margin-left: 20px;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Search</h1>

        <p>Search for <strong>Duke Encounters</strong> that have been reported in the past.</p>
    </div>
</div>

<div class="container">
    <form class="searchForm" action="#" th:action="@{/encounters}" th:object="${searchFilter}" method="post"
          role="form">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error
            </p>
        </div>
        <div th:class="${#fields.hasErrors('event')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="event">Event</label>
            <input type="text" autofocus="autofocus" id="event" name="event" th:field="*{event}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('location')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" th:field="*{location}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('country')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" th:field="*{country}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('year')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="year">Year (greater than or equal)</label>
            <input type="text" id="year" name="year" th:field="*{year}" class="form-control"/>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('likelihood')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="likelihood">Likelihood</label>
            <select class="form-control" id="likelihood" name="likelihood">
                <option th:each="value : ${T(de.dominikschadow.duke.encounters.domain.Likelihood).values()}"
                        th:value="${value}"
                        th:text="${value.name}"
                        th:selected="${value == T(de.dominikschadow.duke.encounters.domain.Likelihood).ALL}"></option>
            </select>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div th:class="${#fields.hasErrors('confirmations')} ? 'form-group has-error has-feedback' : 'form-group'">
            <label for="confirmations">Minimum no. of confirmations</label>
            <select class="form-control" id="confirmations" name="confirmations">
                <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}"
                        th:selected="${ i==0 } ">
                </option>
            </select>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </form>
</div>

</body>
</html>
